body {
  font-size: 16px;
}

.list-papers {
}
.list-papers > li {
	padding-bottom: 1em;
}

.jumbotron {
  background-image: radial-gradient(#f2f2f2, #e0e0e0);
}

.cbold {
  font-weight: bold;    
}
