[submodule "libs/common_utils"]
	path = libs/common_utils
	url = https://github.com/orex/common_utils.git
[submodule "3rd_party/gemmi"]
	path = 3rd_party/gemmi
	url = https://github.com/project-gemmi/gemmi.git
[submodule "3rd_party/xxHash"]
	path = 3rd_party/xxHash
	url = https://github.com/Cyan4973/xxHash.git
