build/
nbproject/
tmp/
obsolete/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*.backup
*.*~

#doc compiled files
doc/*/*.aux
doc/*/*.log
doc/*/*.out

#examples output
data/examples/*/out

data/examples/alpha-SiGeO2/cell112
data/examples/beta-Li3PS4/Li3PS4_Li2_?
data/examples/Cu2ZnSnSxSe4-x/cell111

data/examples/PbSnTe-SQS/SQS-1x1x2
data/examples/PbSnTe-SQS/SQS-1x2x2
data/examples/PbSnTe-SQS/cell_1x1x2/
data/examples/PbSnTe-SQS/cell_1x2x2/
data/examples/ice-Ih-adv/ice-Ih-cfgs-l1/
data/examples/ice-Ih-adv/ice-Ih-cfgs-l2/
data/examples/ice-Ih-adv/ice-Ih-cfgs-final/
data/examples/ice-Ih/ice-Ih-cfgs.anlz
data/examples/ice-Ih/ice-Ih-cfgs/

data/examples/gamma-Fe2O3/cell1?3_out/

#GULP
gulp
