build/
nbproject/
tmp/
obsolete/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*.backup
*.*~

#doc compiled files
doc/supercell_man.aux
doc/supercell_man.log
doc/supercell_man.out
